<div class="container-fluid full-width">
<banner></banner>
<div class="intro">
  <div class="inner_container"> 
    <h1>
      Introduction About Myself
    </h1>
    <ul>
		<li>Over 6.5+ years of IT experience which includes 1.5 years of experience as an Angular Developer and
			around 5 years of experience as a UI Lead.</li>
		<li>Extensive experience in developing web pages using HTML/HTML5, CSS/CSS3, SASS, LESS, JavaScript, jQuery,
			Angular 6/8, Ajax, Bootstrap and Google Analytics.</li>
		<li>Have Worked in Adobe Target and Adobe Analytics Tool - Plan & execute Optimization Campaigns, including
			the definition of test goals, ROI, tracking metrics, sample size etc., and Collect and analyze data from
			multiple sources to evaluate the success of Optimization efforts, develop insights into customer
			behavior, and evaluate the effectives of existing metrics Skilled in creating pixel perfect responsive
			layouts with cross browser compatibility supports.</li>
		<li>Evergage CDP - Real-time personalization and customer data platform (CDP).</li>
		<li>Good designing knowledge in Adobe Photoshop for creating PSD templates.</li>
		<li>Expertise in developing single – page applications (SPAs).</li>
		<li>Good knowledge in Angular6/8 with router architecture.</li>
		<li>Familiar with creating Custom Reusable React Components Library.</li>
		<li>Experience with front-end development with back-end system integration.</li>
		<li>Good Experience in Bug tracking tools like Jira and Version Control tools like GIT and TortoiseSVN.</li>
		<li>Experience in debugging and troubleshooting the existing code.</li>
		<li>Great ability to write clear, maintainable, well-documented, well-commented and efficient code for web
			development.</li>
		<li>Ability to work effectively while working as a team member as well as individually.</li>
	</ul>
  </div>
	
</div>
</div>